body{
    background-image: url(img/contactobg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.fondo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divsection {
    background-color:rgba(91, 156, 218, 0.5);
    height: auto;
    padding: 3px;
    margin-top: 10%;
    padding: 1%;
}

div .links{
    float: right;
}

#derecha{
    background-color: rgb(255, 255, 255);
    padding: 6px;
    float: right;
    border-radius: 20%;
}

@media screen and (max-width: 768px){
    body{
        display:flex;
        position:relative;
        justify-content: center;
        align-items: center;
        background-image: url(img/banner2.jpg);
        background-size: 150% 150%;
        background-repeat: no-repeat;
    }
}