#contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header header header header" "maps maps video video" "maps maps video video";
    justify-items: stretch;
    align-items: center;
}

#contenedor header {
    grid-column: header;
}

#contenedor .maps {
    grid-column: maps;
    grid-row: maps;
}

#contenedor .video {
    grid-column: video;
    grid-row: video;
}

body {
    background-image: url(img/contactobg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    font-family: 'Noto Serif', serif;
}

#contenedor {
    background-color: rgba(255, 255, 255, 0.5);
    width: 98%;
    height: auto;
    padding: 1% 1% 0 1%;
    border-radius: 2%;
}

header div {
    float: right;
}

.boton {
    background-color: rgb(219, 223, 224);
    width: 50px;
    float: left;
    padding: 6px;
    border-radius: 20%;
}

#contenedor .maps iframe {
    width: 90%;
    margin-bottom: 10%;
}

#contenedor .video iframe {
    width: 100%
}

@media screen and (max-width: 768px) {
    body {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        background-image: url(img/banner2.jpg);
        background-size: 150% 150%;
        background-repeat: no-repeat;
    }
    #contenedor {
        display: inline-block;
        position: relative;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.7);
        width: 100%;
    }
    nav {
        position: absolute;
        left: 2%;
        top: 2%;
        margin-left: 1%;
    }
    .boton {
        background-color: rgb(255, 255, 255);
        width: auto;
        padding: 6px;
        border-radius: 20%;
    }
    #contenedor .maps {
        margin-top: 10%;
        align-items: center;
    }
    #contenedor .video {
        align-items: center;
    }
    #contenedor .maps iframe {
        width: 100%;
    }
    #contenedor .video iframe {
        width: 100%;
    }
}